<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag(:div, flash[:notice], id: "notice-message") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], id: "alert-message") if flash[:alert] %>

  <%= button_to "Sign out", sign_out_path, method: :delete %>

<%= yield %>

</body>
</html>
